<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1" crossorigin="anonymous">
<section class=" footers bg-light pt-3 mt-5 ">
   <div class="container p-3">
       <div class="row">
           <div class="col-xs-12 col-sm-6 col-md-4 footers-one">
    		    <div class="footers-logo">
               <h1>Cafe Management </h1>
    		    </div>
    		    <div class="footers-info mt-3">
    		        <p>Cafe management internet commerce, refers to the buying and selling of goods or services using the internet, and the transfer of money and data to execute these transactions.</p>
    		    </div>
    		    <div class="social-icons">
                <a href="https://www.facebook.com/"><i id="social-fb" class="fa fa-facebook-square fa-2x social"></i></a>&nbsp;
                <a href="https://twitter.com/"><i id="social-tw" class="fa fa-twitter-square fa-2x social"></i></a>&nbsp;
	            <a href="https://plus.google.com/"><i id="social-gp" class="fa fa-google-plus-square fa-2x social"></i></a>&nbsp;
	            <a href="mailto:gauravrajputgps@gmail.com"><i id="social-em" class="fa fa-envelope-square fa-2x social"></i></a>
	        </div>
    		</div>
    	   <div class="col-xs-12 col-sm-6 col-md-2 footers-two">
    		    <h5>Essentials </h5>
    		    <ul class="list-unstyled">
    			 <li><a href="maintenance.html">Branded Product</a></li>
    			 <li><a href="contact.html">Accessories</a></li>
    			 <li><a href="about.html">Laptops</a></li>
    			 <li><a href="about.html">Mobiles</a></li>
    			 <li><a href="about.html">Requirements</a></li>
    			</ul>
    		</div>
    	   <div class="col-xs-12 col-sm-6 col-md-2 footers-three">
    		    <h5>Information </h5>
    		    <ul class="list-unstyled">
    			 <li><a href="maintenance.html">Register Now</a></li>
    			 <li><a href="contact.html">Buy Product</a></li>
    			 <li><a href="about.html">Affiliate</a></li>
    			 <li><a href="about.html">Sell Product</a></li>
    			 <li><a href="about.html">Services</a></li>
    			</ul>
    		</div>
    	   <div class="col-xs-12 col-sm-6 col-md-2 footers-four">
    		    <h5>Explore </h5>
    		    <ul class="list-unstyled">
    			 <li><a href="maintenance.html">News</a></li>
    			 <li><a href="contact.html">FAQ</a></li>
    			 <li><a href="about.html">Testimonials</a></li>
    			 <li><a href="about.html">Feedbacks</a></li>
    			 <li><a href="about.html">User Agreement</a></li>
    			</ul>
    		</div>
    	   <div class="col-xs-12 col-sm-6 col-md-2 footers-five">
    		    <h5>Company </h5>
    		    <ul class="list-unstyled">
    			 <li><a href="maintenance.html">Career</a></li>
    			 <li><a href="about.html">For Parters</a></li>
    			 <li><a href="about.html">Terms</a></li>
    			 <li><a href="about.html">Policy</a></li>
    			 <li><a href="contact.html">Contact Us</a></li>
    			</ul>
    		</div>

       </div>
   </div>
</section>
<section class="disclaimer bg-light border">
    <div class="container">
        <div class="row ">
            <div class="col-md-12 py-2">
                <small>
                   Disclaimer: Element Limited is only an intermediary offering its platform
               </small>
            </div>
        </div>
    </div>
</section>
<section class="copyright border">
    <div class="container">
        <div class="row text-center">
            <div class="col-md-12 pt-2">
                <p class="text-muted">© 2022 cafe Pvt. Ltd.</p>
            </div>
        </div>
    </div>
</section>
