/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css?family=Muli:400,700');

body {
     font-family: sans-serif;

}

@import "~bootstrap-icons/font/bootstrap-icons.css";

.container {
     margin-left: 5%;
     margin-right: 1%;

}

.common-form {
     text-align: center;
     display: flex;
     margin: auto;
     flex-direction: column;
     width: 300px;
}

.form-input {
     height: 35px;
     margin-bottom: 20px;
     padding-left: 10px;
     border: 1px solid blueviolet;
     color: blueviolet;

}

.form-button {
     height: 35px;
     border: 1px solid blueviolet;

}

.error-p {
     color: red;
}

.message-p {
     color: green;
}

.carousel-caption {
     color: rgba(6, 3, 3, 0.732);
     border-radius: 5px;
}
.invalid-input{
     color: rgb(122, 23, 23);
     font-size: 13px;
     margin-top: -20px;
     margin-bottom: 0;

}